*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

    background:linear-gradient(135deg,#0F172A,#1E3A8A,#2563EB);
}

.login-box{
    width:400px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.2);

    border-radius:20px;

    padding:40px;
    color:white;

    box-shadow:0 10px 40px rgba(0,0,0,.3);
}

.login-box h2{
    font-size:32px;
    margin-bottom:10px;
}

.login-box p{
    color:#d4d4d4;
    margin-bottom:30px;
}

.input-box{
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:15px;

    border:none;
    outline:none;

    border-radius:10px;

    background:rgba(255,255,255,.1);

    color:white;
    font-size:16px;
}

.input-box input::placeholder{
    color:#ccc;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:25px;
    font-size:14px;
}

.options a{
    color:#60A5FA;
    text-decoration:none;
}

.options a:hover{
    text-decoration:underline;
}

button{
    width:100%;
    padding:15px;

    border:none;
    border-radius:10px;

    background:#2563EB;
    color:white;

    font-size:18px;
    cursor:progress;

    transition:.4s;
}

button:hover{
    background:#1D4ED8;
}

.register{
    text-align:center;
    margin-top:25px;
}

.register a{
    color:#60A5FA;
    text-decoration:none;
}

.register a:hover{
    text-decoration:underline;
}
